<fieldset>
    <legend>Add Account</legend>
    <div class='form-group'>
        <label for='account-id'>ID</label><br>
        <input class='form-control' id='account.id' type='text' name='id' value='{{ account.id }}'/>
    </div>

    <div class='form-group'>
        <label for='password'>Password</label><br>
        <input class='form-control' id='password' type='text' name='password' value='{{ account.password }}' />
    </div>

    <div class='form-group'>
        <label for='url'>URL</label><br>
        <input class='form-control' id='url' type='text' name='url' value='{{ account.url }}' />
    </div>

</fieldset>