{% extends 'base.html' %}

{% block content %}
<head>
        <title>{{name.name}}</title>
</head>
<body>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>{{ name.name }}</h1>
            <p><a href='/{{ name._id }}/edit'>
                <button type="button" class="btn btn-primary">Edit</button>
            </a></p>
            <p><form method='POST' action='/{{name._id}}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete</button>
            </form></p>            
            {% for account in accounts %}
                <div class="btn-group">
                    <a href="/{{name._id}}/accounts/{{ account._id }}">
                        <h1>Test</h1>
                        <button>{{ account.platform }}</button>
                    </a>
                </div>
            {% endfor %}
            <div class="btn-group">
                <a href='/{{name._id}}/accounts/new'>
                    <button>New Account</button>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}