{% extends 'base.html' %}

{% block content %}
<head>
    <title>Edit Account</title>
</head>
<legend>Edit Account</legend>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/accounts/{{account._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/pm_form.html' %}
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}