{% extends 'base.html' %}

{% block content %}
<head>
    <title>{{account.platform}}</title>
</head>
<body>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>{{ account.platform }}</h1>
            <h1>{{ account.id }}</h1>
            <h1>{{ account.password }}</h1>
            <h3>{{ account.url }}</h3>
            <p><a href='/{{name_id}}/accounts/{{ account._id }}/edit'>
                <button type="button" class="btn btn-primary">Edit</button>
            </a></p>
            <p><form method='POST' action='/{{name_id}}/accounts/{{account._id}}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete</button>
            </form></p>
        </div>
    </div>
</body>
{% endblock %}